---
layout: default
---
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <table cellpadding="10px">
        <tr>
        <th style="margin: 20px 20px 20px 20px" >
          {% assign foundImage = 0 %}
          {% assign images = post.content | split:"<img " %}
          {% for image in images %}
            {% if image contains 'src' %}
                {% if foundImage == 0 %}
                    {% assign html = image | split:"/>" | first %}
                    <img style="max-width:100px;width:100px;object-fit:cover;" {{ html }} />
                    {% assign foundImage = 1 %}
                {% endif %}
            {% endif %}
          {% endfor %}
          {% if foundImage == 0 %}
            <img style="max-width:100px;max-height:100px;width:100px;object-fit:cover;" src='assets/default/main.png'/>
          {% endif %}
        </th>
        <th>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-class">
          {% for tag in post.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code></a>
            &nbsp;
          {% endfor %}
        </span>
        </th>
        </tr>
        </table>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  {% include archive.html %}

</div>
